* {
    font: arial;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

table, th, td {
    border: 1px solid black;
  }
  

th {
    background-color: blue;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}
.circle:hover{
    stroke: black;
    stroke-width: 5;
}
.rect:hover{
    fill: green;
}